.my-classes {
  margin-bottom: 200px;

  @include tablet {
    margin-bottom: 110px;
  }

  @include desktop {
    margin-bottom: 80px;
  }

  &__content {
    @include tablet {
      padding: 0 79px;
    }

    @include desktop {
      display: flex;
      gap: 20px;
      padding: 0;
    }
  }
  
  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2px;
    column-gap: 2px;
    text-align: center;
    margin: 0 -15px 40px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 0;
    }

    @include desktop {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin: 0;
      max-width: 25%;
      flex: 0 0 25%;
    }
  }

  &__item {
    padding: 7px 0 10px 0;
    background: $bg-light;
    width: 100%;

    @include desktop {
      background-color: inherit;
    }
  }
  
  &__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;

    @include desktop {
      font-size: 16px;
      &:hover {
        color: $acent-purpure;
      }
    }
  }

  &__link--select {
    font-weight: 700;
    color: #000;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $acent-purpure;
      bottom: 0;
    }
  }

  &__classes {
    @include desktop {
      max-width: 75%;
      flex: 0 0 75%;
    }
  }

  &__cap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }

  &__back {
    position: absolute;
    
    @include tablet {
      display: flex;
      gap: 10px;
    }
  }

  &__text {
    display: none;

    @include tablet {
      display: block;
      font-weight: 500;
      color: $blue-acent;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  &__title {
    margin: auto;
    font-size: 24px;
    font-weight: 700;

    @include desktop {
      font-size: 36px;
    }
  }

  &__subtitle {
    padding: 20px 15px;
    margin: 0 -15px;
    background: $bg-light;
    border-bottom: 2px solid $blue-acent;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: $blue-acent;

    @include desktop {
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .my-classes__sort.spec.sorted-asc {
    stroke: $acent-purpure;
  }
  
  .my-classes__sort.spec.sorted-desc {
    transform: rotate(180deg);
    stroke: $acent-purpure;
  }

  &__row {
    display: flex;
    align-items: center;
    min-width: 100%;
    margin: 0 -15px;
    padding: 30px 0;
    border-bottom: 1px solid $stroke;
    cursor: pointer;
    transition: 0.3s ease all;
    position: relative;

    &:focus-within {
      background: $bg-light;
    }

    @include tablet-max {
      &:not(.active)  .my-classes__icon {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
      }
    }

    @include desktop {
      margin: 0;

      &:hover {
        background-color: $bg-light;

        .my-classes__icon {
          background-color: $blue-acent;

          svg {
            fill: #fff;
            stroke: #fff;
          }
        }
      }

      .my-classes__icon:hover {
        background: $acent-purpure;
      }
    }
  }

  &__row--title {
    padding: 20px 0;
    background: $bg-light;

    @include desktop {
      padding-right: 40px;
    }
  }

  &__name {
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__input {
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__mod {
    position: relative;
    font-weight: 700;
    
    @include desktop {
      &:hover .my-classes__sort {
        stroke: $blue-acent;
      }
    }
  }

  &__sort {
    position: absolute;
    margin-left: 5px;
    position: absolute;
    transform: translate(2px);
    width: 6px;
    height: 16px;
    stroke: #C2D3DF;
    transition: all 0.3s ease;
  }

  &__fault,
  &__mark {
    min-width: 90px;
    text-align: center;
    border-left: 1px solid $devider;

    @include desktop {
      min-width: 140px;
    }
  }

  &__mark {
    @include desktop {
      border-right: 1px solid $devider;
    }
  }

  &__fault {
    font-weight: 700;
  }

  &__icon {
    &:active {
      background: $acent-purpure;
    }

    @include tablet-max {
      position: absolute;
      width: 50%;
      background: $blue-acent;
      top: 0;
      bottom: 0;
      text-transform: uppercase;
      font-weight: 500;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    @include desktop {
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      margin: 0 10px;
      transition: 0.3s ease all;
    }
  }

  &__delete {

    @include tablet-max {
      right: 0;
      border-left: 1px solid #fff;
    }
  }

  &__edit-icon {
    width: 11px;
    height: 11px;
    stroke: #C2D3DF;
    transition: 0.3s ease all;

    @include tablet-max {
      stroke: #fff;
    }
  }

  &__delete-icon {
    width: 11px;
    height: 12px;
    fill: #C2D3DF;
    transition: 0.3s ease all;

    @include tablet-max {
      fill: #fff;
    }
  }

  &__button-text {

    @include desktop {
      display: none;
    }
  }

  &__modal {
    padding: 30px;
    background-color: #fff;
    width: 430px;
  }

  &__close {
    display: block;
    background: url(../image/icons/close.svg);
    width: 15px;
    height: 15px;
    margin-left: auto;
  }

  &__qwestion {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
  }

  &__description {
    margin-bottom: 24px;
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }

  &__button {
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 500;
    background: $blue-acent;
    width: 100%;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:active {
      background-color: $acent-purpure;
    }
  }

}

#backdrop{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.50);
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backdrop:target {
  transition: opacity 0.3s ease;
  pointer-events: auto;
  opacity: 1;
  overflow: scroll;
}
