.social-links__inverted .social-links_list>li>a .social-icon {
  color: #fff
}

.social-links_title {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase
}

.social-links_list {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none
}

.social-links_list,.social-links_list>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.social-links_list>li {
  padding-right: 7px
}

.social-links_list>li>a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  border: none
}

.social-links_list>li>a:focus .social-icon,.social-links_list>li>a:hover .social-icon {
  background-color: #ec008c
}

.social-icon {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #121921;
  -webkit-mask-image: url(/image/icons/social-icon-background.svg);
  mask-image: url(/img/icons/social-icon-background.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain
}

.social-icon:focus .social-icon,.social-icon:hover .social-icon {
  background-color: #ec008c
}

.social-icon:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center
}

.social-icon:after,.social-icon__inverted {
  background-color: #fff
}

.social-icon__inverted:after {
  background-color: #000
}

.social-icon__facebook:after {
  -webkit-mask-image: url(/img/icons/facebook-icon.svg);
  mask-image: url(/img/icons/facebook-icon.svg)
}

.social-icon__pinterest:after {
  -webkit-mask-image: url(/img/icons/pinterest-icon.svg);
  mask-image: url(/img/icons/pinterest-icon.svg)
}

.social-links_title {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase
}

.social-links_list {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none
}


.social-links__inverted .social-links_list>li>a .social-icon {
  color: #fff
}

.social-links_title {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase
}

.social-links_list {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none
}

.social-links_list,.social-links_list>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.social-links_list>li {
  padding-right: 7px
}

.social-links_list>li>a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  border: none
}

.social-links_list>li>a:focus .social-icon,.social-links_list>li>a:hover .social-icon {
  background-color: #ec008c
}

.social-icon {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #121921;
  -webkit-mask-image: url(../image/icons/social-icon-background.svg);
  mask-image: url(../image/icons/social-icon-background.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain
}

.social-icon:focus .social-icon,.social-icon:hover .social-icon {
  background-color: #ec008c
}

.social-icon:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center
}

.social-icon:after,.social-icon__inverted {
  background-color: #fff
}

.social-icon__inverted:after {
  background-color: #000
}

.social-icon__facebook:after {
  -webkit-mask-image: url(../image/icons/facebook-icon.svg);
  mask-image: url(../image/icons/facebook-icon.svg)
}

.social-icon__pinterest:after {
  -webkit-mask-image: url(../image/icons/pinterest-icon.svg);
  mask-image: url(../image/icons/pinterest-icon.svg)
}
